.main-chat
  .main-chat__group-info
    .main-chat__group-info__group
      .main-chat__group-info__group__name test
      .main-chat__group-info__group__member Menber:masa
    .main-chat__group-info__edit Edit
  .main-chat__message-list
    .main-chat__message-list__message
      .main-chat__message-list__message__name masa
      .main-chat__message-list__message__date 2019/11/20(wed) 17:43:01
    .main-chat__message-list__post おはよう！
    .main-chat__message-list__message
      .main-chat__message-list__message__name masa
      .main-chat__message-list__message__date 2019/11/20(wed) 17:43:01
    .main-chat__message-list__post おはよう！
  .main-chat__message-form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder:"type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type:"submit", class: "submit-btn", value:"Send"}
