$main-color: #ffffff;

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;

  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
  }

  &__group-list {
    height: calc( 100vh - 100px );
    background-color: #2f3e51;

      &__name {
        color: $main-color;
        font: bold;
        font-size: 15px;
        padding: 20px 20px 5px;
      }
    
      &__message {
        color: $main-color;
        font: bold;
        font-size: 11px;
        padding:0 20px 40px;
      }

  }
}

.top-items {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;

  &__name {
    font-size: 16px;
    color: $main-color;
    font: bold;
  }

  &__icons {
    width: 60px;
    text-align: right;
  }

  &__icons .group {
    margin-left: 5px;
    color: $main-color;
    text-decoration: none;
  }
}